html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(0,0,0);
}

p, ol {
  color: white;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
}


.page_title {
  color: salmon;
  display: inline-block;
  margin: 0px;
  margin-right: 20px;
  font-family: 'Shadows Into Light', cursive;
  float: right;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  text-align: center;
  background-color: rgba(186, 6, 217, 0.3);
}

/*----- NAVIGATION-------- */

.nav_link {
  height: auto;
  width: auto;
  display: inline-block;
  margin: 0px 15px 0px 15px;
  color: white;
  font-size: 30px;
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
}

.nav_link:hover {
  border-bottom: 1px dotted salmon;
  color: salmon;
}

.split {
  width: 50%;
  height: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

#left_side {
  background-image: url('images/coffee2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#right_side {
  position: relative;
}

#picLinkWrap {
  height: 460px;
  width: 460px;
  position: absolute;
  left: 50%;
  margin-left: -230px;
  top: 50%;
  margin-top: -230px;
  border-radius: 50%;
  /*border: 1px dotted gray;*/
}

.imageLink {
  width: 160px;
  height: 160px;
  display: inline-block;
  position: absolute;
  background-color: rgba(186, 6, 217, 0.3);
  border-radius: 50%;
  text-align: center;
  box-shadow: 0px 0px 40px white;
}

.imageLink:hover{
 transform: scale(1.5, 1.5);
 -moz-transform: scale(1.5, 1.5);
-ms-transform: scale(1.5, 1.5);
-webkit-transform: scale(1.5, 1.5);
-o-transform: scale(1.5, 1.5);
}

.imgText {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  line-height: 160px;
  font-size: 50px;
  top: 80px;
}

.imgText:hover {
  color: salmon;

}

#imageLinkTop {
  top: 0;
  left: 50%;
  margin-left: -80px;
  margin-top: 6px;
}

#imageLinkBottom {
  bottom: 0;
  left: 50%;
  margin-left: -80px;
  margin-bottom: 6px;
}

#imageLinkLeft {
  left:0;
  top: 50%;
  margin-top: -80px;
  margin-left: 6px;
}

#imageLinkRight {
  right:0;
  top: 50%;
  margin-top: -80px;
  margin-right: 6px;
}

footer {
  width: 100%;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 1px solid green;
  bottom: 0;
  position: absolute;
}

/*---ABOUT PAGE----*/

.mainContentWrap {
  width: 100%;
  height: auto;
  margin: 0px;
  margin-top: 50px;
  padding: 0px;
  color: white;
  text-align: center;
}

#aboutPara {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

#aboutPara a {
  text-decoration: none;
  color: salmon;
}

#aboutPara a:hover {
    color: red;
}

blockquote {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  color: salmon;
}

blockquote:hover {
    color: red;
}

ol {
  width: 400px;
  margin: 0 auto;
  list-style-position: inside;
}

/*---Portfolio PAGE----*/

#galleryWrap {
    height: 100%;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    overflow: auto;
    text-align: center;
    /*border: 1px solid salmon;*/
}

.portfolioLink {
  text-decoration: none;
  color: white;

}

.portfolioExample {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  float: left;
  text-align: center;
  background-image: url('images/maraj.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 40px salmon;
}

/*.portfolioExample:hover{
 transform: scale(1.5, 1.5);
 -moz-transform: scale(1.5, 1.5);
-ms-transform: scale(1.5, 1.5);
-webkit-transform: scale(1.5, 1.5);
-o-transform: scale(1.2, 1.2);
z-index: 9999;
}*/


/*.portfolioExample:hover {
  transition: all 200ms ease-in;
  transform: scale(1);
}*/

.example1 {
  background-image: url('images/maraj.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clearPortfolio {
  clear: left;
}

.galleryTitle {
  width: 50px;
  margin: 0;
  background-color: rgba(186, 6, 217, 0.8);
  position: absolute;
  top: 0;
  border-top-left-radius: 10px;
}

.bottomCaption {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: rgba(186, 6, 217, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

/*---RESUME PAGE----*/

.tripleSplit {
  height: 500px;
  width: 33%;
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
  float: left;
  /*border: 1px solid salmon; */
  text-align: center;
}

.resumeImage {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px salmon;
}

ul {
  line-height: 20px;
  text-align: left;
  list-style-type: circle;
  display: inline-block;
  margin: 0 auto;
}
