@media screen and (max-width: 900px) {

/* 900px INDEX.html */
  #picLinkWrap {
    height: 300px;
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 50%;
    margin-top: -150px;
    border-radius: 50%;
  }

  .imageLink {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    background-color: rgba(186, 6, 217, 0.3);
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 0px 40px white;
  }


  .imgText {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Shadows Into Light', cursive;
    line-height: 100px;
    font-size: 30px;
    top: 80px;
  }

  #imageLinkTop {
    top: 0;
    left: 50%;
    margin-left: -50px;
    margin-top: 6px;
  }

  #imageLinkBottom {
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 6px;
  }

  #imageLinkLeft {
    left:0;
    top: 50%;
    margin-top: -50px;
    margin-left: 6px;
  }

  #imageLinkRight {
    right:0;
    top: 50%;
    margin-top: -50px;
    margin-right: 6px;
  }

  #galleryWrap div:nth-child(3n+4) {
    display: none;
  }

  #galleryWrap div:nth-child(1) {
    background-color: green;
    clear: left;
  }

  .exampleWrap {
    height: 200px;
    width: 40%;
    margin: 3%;
    display: inline-block;
    float: left;
  }

/*---ABOUT PAGE 900----*/
#aboutPara {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 50px;
}

blockquote {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 40px;
  color: salmon;
}

#inSearchOf {
  width: 70%;
  margin: 0 auto;
}

ol {
  margin: 0 auto;
  margin-top: 20px;
}
  /*---RESUME PAGE 900----*/

  .tripleSplit {
    height: auto;
    width: 50%;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    float: left;
    /*border: 1px solid salmon; */
    text-align: center;
  }


.clearBoth {
  clear: both;
}


.contactInfo {
  font-size: 25px;

}

}


@media screen and (max-width: 600px) {

.resp_portWrap {
  margin-top: 100px;
}

  header {
    height: auto;
  }

  .nav_link {
    height: auto;
    display: inline-block;
    margin: 0px 15px 0px 15px;
    color: white;
    font-size: 16px;
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
  }

/* 600px INDEX.html */
  #left_side {
    display: none;
  }

  #right_side {
    height: 100%;
    width: 100%;
    background-image: url('images/coffee2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #galleryWrap div:nth-child(1) {
    dislay: none;
  }

  .galleryTitle {
    border-top-left-radius: 5px;
  }

  .exampleWrap {
    height: 200px;
    width: 97%;
    margin: 0%;
    margin-bottom: 5%;
    display: block;
    border: 1px solid salmon;
    border-radius: 5px;
    float: left;
    box-shadow: none;
  }

  /*---ABOUT PAGE 400----*/
  blockquote {
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: salmon;
  }

  ol {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    list-style-position: inside;
    margin-top: 20px;
  }
  /*---RESUME PAGE----*/

   .resumeMain {
     margin-top: 70px;
   }

   .resp_link {
     float: left;
     font-size: 25px;
   }

   .resp_link:nth-child(2n+3){
     clear: left;
   }

  .tripleSplit {
    height: auto;
    width: 99%;
    margin: 0px;
    margin-top: 30px;
    padding: 0px;
    float: left;
    /*border: 1px solid salmon; */
    text-align: center;
  }

  /*---CONTACT PAGE----*/
  .contactInfo {
    width: auto;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
    list-style: none;
  }

  .contactInfo a {
    text-decoration: none;
    color: white;
  }

  .contactInfo li {
    margin: 30px 0px;
  }


}
